body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:#f3f6fb;
}

/* HEADER */

.header{

background:linear-gradient(
135deg,
#0d7a2f,
#22c55e
);

padding:25px 40px;

display:flex;

justify-content:space-between;

align-items:center;

position:sticky;

top:0;

z-index:1000;

backdrop-filter:blur(10px);

box-shadow:0 8px 30px rgba(0,0,0,.15);

}


/* BARRA INFO */

.info-bar{

background:white;

padding:15px;

text-align:center;

font-size:14px;

color:#666;

box-shadow:0 4px 15px rgba(0,0,0,.08);

}


/* HERO PREMIUM */

.hero{

height:85vh;

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.45)
),
url("../img/carro.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

padding:0 8%;

margin:0;

border-radius:0;

}

.hero-texto{

max-width:700px;

}

.badge{

background:#25D366;

padding:10px 18px;

border-radius:50px;

color:white;

font-weight:bold;

display:inline-block;

margin-bottom:25px;

}

.hero h1{

font-size:72px;

line-height:1;

color:white;

margin:0;

}

.hero p{

font-size:22px;

color:#eee;

margin-top:25px;

line-height:1.8;

}

.hero-botones{

margin-top:35px;

display:flex;

gap:15px;

flex-wrap:wrap;

}

.btn2{

background:#25D366;

}

/* CONTENEDOR */

.contenedor{

width:95%;

max-width:1300px;

margin:auto;

padding:30px;

}

/* PROMOCIONES */

.promo{

background:white;

padding:40px;

border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

margin-bottom:50px;

}

.promociones{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.promo-card{

background:linear-gradient(
135deg,
#1d7c35,
#2eb85c
);

color:white;

padding:30px;

width:280px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

transition:.4s;

}

.promo-card:hover{

transform:translateY(-12px);

}


/* CATEGORIAS */

.categorias{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

background:white;

width:250px;

padding:35px 20px;

border-radius:30px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.4s;

cursor:pointer;

}

.card:hover{

transform:translateY(-15px);

box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.icono{

font-size:55px;

}

.card h2{

margin-top:15px;

}

.card p{

color:#777;

}


/* BOTONES */

button{

background:#1d7c35;

color:white;

border:none;

padding:16px 35px;

border-radius:18px;

font-size:17px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}


/* CURSOS */

.detalle-curso{

display:flex;

gap:35px;

justify-content:center;

align-items:flex-start;

flex-wrap:wrap;

}

.lado-imagen{

width:350px;

}

.imagen-curso{

width:100%;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.lado-info{

flex:1;

min-width:350px;

}

.info-card{

background:white;

padding:40px!important;

border-radius:30px;

text-align:left;

}

.info-card ul{

line-height:2;

}


/* WHATSAPP */

.whatsapp{

position:fixed;

bottom:20px;

right:20px;

background:#25D366;

color:white;

padding:15px 20px;

border-radius:50px;

text-decoration:none;

font-weight:bold;

box-shadow:0 5px 15px rgba(0,0,0,.2);

z-index:999;

}


/* RESPONSIVE */

@media(max-width:900px){

.hero{

height:auto;

padding:35px;

}

.hero-texto h1{

font-size:42px;

}

.hero-texto p{

font-size:18px;

}

.header{

justify-content:center;

gap:20px;

}

.menu{

justify-content:center;

}

.promociones{

flex-direction:column;

align-items:center;

}

.card{

width:90%;

}

}
/* ESTADÍSTICAS */

.stats{

display:flex;

justify-content:center;

gap:25px;

margin:50px auto;

flex-wrap:wrap;

width:95%;

max-width:1300px;

}

.stat-card{

background:white;

width:220px;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-card h1{

color:#1d7c35;

font-size:35px;

margin:0;

}

.stat-card p{

color:#777;

margin-top:10px;

}/* FORMULARIO ELEGANTE */

.formulario-card{

max-width:700px;

margin:auto;

background:white;

padding:50px;

border-radius:35px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.titulo-form{

text-align:center;

margin-bottom:10px;

font-size:50px;

}

.subtitulo-form{

text-align:center;

color:#777;

margin-bottom:35px;

font-size:20px;

}

.grupo{

display:flex;

flex-direction:column;

margin-bottom:20px;

}

.grupo label{

margin-bottom:8px;

font-weight:bold;

color:#333;

}

.grupo input,
.grupo select{

padding:18px;

border:none;

background:#f4f6f8;

border-radius:15px;

font-size:16px;

outline:none;

}

.grupo input:focus,
.grupo select:focus{

box-shadow:0 0 0 3px rgba(29,124,53,.2);

}

.edad-box{

background:#fff7d6;

padding:18px;

border-radius:15px;

margin:25px 0;

color:#946200;

font-weight:bold;

}

.formulario-card button{

width:100%;

padding:20px;

font-size:22px;

}
.stat-card{

cursor:pointer;

}

.stat-card small{

display:block;

margin-top:15px;

color:#1d7c35;

font-weight:bold;

}

.stat-card:hover{

transform:translateY(-10px);

box-shadow:0 15px 30px rgba(0,0,0,.15);

}
.ayuda{

display:block;

margin-top:10px;

font-size:14px;

color:#777;

line-height:1.5;

}

input:required,
select:required{

border-left:4px solid #1d7c35;

}
.logo img{

width:160px;

height:auto;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.15);



}

.header{

background:linear-gradient(
90deg,
#0f7a31,
#22a447
);

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 35px;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 3px 15px rgba(0,0,0,.10);

}

.logo img{

width:115px;

height:auto;

border-radius:12px;

background:white;

padding:6px;

transition:.3s;

}

.logo img:hover{

transform:scale(1.04);

}

.menu{

display:flex;

gap:30px;

align-items:center;

}

.menu a{

color:white;

text-decoration:none;

font-weight:bold;

font-size:16px;

transition:.3s;

}

.menu a:hover{

opacity:.8;

transform:translateY(-2px);

}
.pagos-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:18px;

margin-top:20px;

}

.pago-card{

background:white;

padding:20px;

border-radius:20px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.pago-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 25px rgba(0,0,0,.15);

}

.pago-card h4{

margin:10px 0;

}

.pago-card small{

color:gray;

}
.pago-card{

cursor:pointer;

}

.pago-card:active{

transform:scale(.95);

}





/* FOOTER */

.footer{

margin-top:80px;

padding:50px;

background:#111;

color:white;

text-align:center;

border-top:5px solid #1f8a3b;

}

.footer h2{

margin-bottom:20px;

color:#25D366;

}

.footer p{

margin:10px;

}




/* FOOTER PREMIUM */

.footer{

margin-top:80px;

padding:60px;

background:#111;

color:white;

text-align:center;

border-top:5px solid #1f8a3b;

}


.footer h2{

color:#25D366;

margin-bottom:20px;

}


.footer p{

margin:10px;

color:#ddd;

}
/* REDES FLOTANTES COMO LA FOTO */

.redes-flotantes{

position:fixed;
right:15px;
top:50%;

transform:translateY(-50%);

display:flex;
flex-direction:column;

gap:14px;

z-index:9999;

}

.redes-flotantes a{

width:55px;
height:55px;

border-radius:50%;

display:flex;

align-items:center;
justify-content:center;

box-shadow:0 8px 18px rgba(0,0,0,.25);

overflow:hidden;

text-decoration:none;

}

/* FACEBOOK */

.redes-flotantes a:nth-child(1){

background:#4267B2;

}

/* INSTAGRAM */

.redes-flotantes a:nth-child(2){

background:#E1306C;

}

/* WHATSAPP */

.redes-flotantes a:nth-child(3){

background:#25D366;

}

.redes-flotantes img{

width:28px;
height:28px;

filter:brightness(0) invert(1);

}
.btn-whatsapp{

display:block;
text-align:center;
background:#25D366;
color:white;
padding:15px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
margin-top:15px;

}
.btn-whatsapp{

display:block;
background:#25D366;
padding:15px;
text-align:center;
border-radius:12px;
color:white;
font-weight:bold;
text-decoration:none;
margin-top:15px;

}