<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>C2 - Autoescuela SUROESTE</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

<div class="contenedor">

<img
class="banner"
src="{{ url_for('static', filename='img/camion.jpg') }}">

<h1>🚛 Categoría C2</h1>

<p class="subtitulo">
¡Anímate a vivir una gran experiencia con Autoescuela SUROESTE!
</p>

<div class="card" style="width:80%;margin:auto;text-align:left;">

<h2>📋 El curso incluye:</h2>

<ul>

<li>Exámenes médicos (realizados en Andes)</li>

<li>30 clases de teoría grupal</li>

<li>Teoría dinámica y fácil (4 días)</li>

<li>Prácticas personalizadas</li>

<li>Certificado de conducción</li>

</ul>

<h2>💰 Valor:</h2>

<h1 style="color:green;">
$1.580.000
</h1>

<p>

Luego de que tu proceso esté correctamente cargado en RUNT, imprimes la licencia por un valor aproximado de:

<strong>$110.000</strong>

</p>

<center>

<a href="/separar_cupo">

<button>
🚀 Iniciar proceso
</button>

</a>

</center>

</div>

</div>

</body>

</html>