<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>A2 + B1</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

<div class="contenedor">

<h1>⭐ Promoción A2 + B1</h1>

<p class="subtitulo">
Moto + Carro Particular
</p>

<div class="card" style="width:80%;margin:auto;text-align:left;">

<h2>📋 Incluye:</h2>

<ul>

<li>Exámenes médicos (realizados en Andes)</li>

<li>30 clases de teoría grupal</li>

<li>Dinámica y fácil (3 días)</li>

<li>Prácticas personalizadas</li>

<li>Certificado de conducción</li>

</ul>

<h2>💰 Valor:</h2>

<h1 style="color:green;">
$2.290.000
</h1>

<p>

Impresión de licencia:
<strong>$190.000 aprox.</strong>

</p>

<br>

<center>

<a href="/separar_cupo">

<button>

🚀 Iniciar proceso

</button>

</a>

</center>

</div>

</div>

</body>

</html>